__pycache__
botpy.log
.vscode
data_v2.db
data_v3.db
configs/session
configs/config.yaml
**/.DS_Store
temp
cmd_config.json
data
cookies.json
logs/
addons/plugins
.coverage


tests/astrbot_plugin_openai
chroma
node_modules/
.DS_Store
package-lock.json
package.json
venv/*
packages/python_interpreter/workplace
.venv/*

Dockerfile_diudiu62